.class {
    background-color: rgb(66, 63, 63);
    margin: auto;
    height: 50%;
    border: solid antiquewhite;
    padding: 10px;
    font-family: 'Trebuchet MS';
    color: white;
    overflow-wrap: break-word;
}

#title {
    font-weight: bold;
}

#department {
    font-style: italic;
}

#description {
    font-size: small;
}